@model Book[]

@{
    ViewData["Title"] = "Founding result";
}

<h1>Founding result</h1>

@if (Model.Length == 0)
{
    <p>Nothing found for your request</p>
}
else
{
    <ul>
        @foreach (var book in Model)
        {
           <li><a href="@Url.Action("Index", "Book", new {id = book.Id})">@book.Title</a></li>
        }
    </ul>
}